<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .Page.IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css" />
  </head>
  <body>
    <header>
        <p class="site-title"><a href="{{ .Site.BaseURL }}" >{{ .Site.Title }}
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.79 47.57"><defs><style>.cls-1{fill:none;stroke:#333;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>Asset 25</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M30.79,26.75A14.9,14.9,0,1,1,1,26.75C1,19.67,12.06,5.24,15.12,1.38a1,1,0,0,1,1.56,0C19.74,5.24,30.79,19.67,30.79,26.75Z"/><line class="cls-1" x1="15.9" y1="18.57" x2="15.9" y2="46.57"/></g></g></svg>
        </a></p>
        <p><a href="mailto:azatsdev@gmail.com">Contact</a></p>
    </header>
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    <footer>&copy; Azat Serikov 2021</footer>
  </body>
</html>
