{{ define "posts" }}
  <ul class="posts">
    {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="article-meta">
          <span>{{ .Page.Date.Format "January 2, 2006" }}</span>
          <br />
          <span>{{ .Page.ReadingTime}}-minute read</span>
        </div>
        <p>{{ .Summary }}</p>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "main" }}
  {{ .Content }}
  {{ if .Page.IsHome }}
    {{ range .Pages}}
      {{ block "posts" . }} {{ end }}
    {{ end }}
  {{ else }}
    {{ block "posts" . }} {{ end }}
  {{ end }}
{{ end }}