@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
  font-display: swap
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf");
  font-display: swap
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  src: url("../fonts/Fira_Sans/FiraSans-Italic.ttf");
  font-display: swap
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Fira_Sans/FiraSans-BoldItalic.ttf");
  font-display: swap
}

@font-face {
  font-family: 'Fira Mono';
  src: url("../fonts/Fira_Mono/FiraMono-Regular.ttf");
  font-display: swap
}

:root {
  --text-color: #202020;
  --text-color2: #606060;
  --bg-color: white;
  --accent-color: #daa520;
  --border: 1px solid var(--accent-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1 {
  margin: 0 2rem 2rem;
  text-align: center;
}

h2 {
  border-bottom: var(--border);
  margin: 1.5rem 0 1rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.1s ease-in;
}

a:hover, a:active, a:focus {
  color: var(--accent-color);
}


p {
  text-align: justify;
}

hr {
  background-color: var(--accent-color);
  height: 1px;
  border: none;
}

header,
footer {
  padding: 1rem 2rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

header {
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: var(--border);
  text-align: center;
}

main {
  max-width: 768px;
  margin: 2rem auto 5rem;
  padding: 0 2rem;
  min-height: calc(100vh - (11rem + 50px));
}

article p {
  margin-bottom: 1rem;
}

article a {
  color: var(--accent-color);
}

article ul,
article ol {
  margin: 1rem 0;
}

article ul ul,
article ol ul,
article ul ol,
article ol ol {
  margin: 0.5rem;
  padding-left: 0.5rem;
}

pre {
  padding: 1rem;
  margin: 1rem 0;
}

code {
  font-family: "Fira Mono", sans-serif;
}

blockquote {
  border-left: var(--border);
  padding: 0.5rem;
  margin: 1rem 0;
}

blockquote p {
  margin: 0;
}

.article-meta {
  text-align: left;
  color: var(--text-color2);
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.posts {
  list-style: none;
}

.posts > li {
  border-left: var(--border);
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.posts > li > a {
  border-bottom: var(--border);
  font-weight: bold;
  font-size: 1.2rem;
}

.posts > li > p {
  margin: 1rem 0;
}

.posts > li > .article-meta {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  color: var(--text-color2);
}
